@model RecommendationModel[]
@{
    ViewData["Title"] = "Recommendations";
}

<h2>All recommendations</h2>
<div class="container">
    <form method="post" asp-action="Create">
        <input type="submit" class="btn btn-primary" value="New" />
    </form>
    <div class="row">
        <div class="col fw-bold">
            Status
        </div>
        <div class="col fw-bold">
            Created
        </div>
    </div>
@foreach (var recommendation in Model)
{
    <a class="nav-link text-dark" asp-area="" asp-controller="Recommendations" asp-action="@recommendation.Id">
        <div class="row">
            <div class="col">
                @recommendation.Status
            </div>
            <div class="col">
                @recommendation.Created
            </div>
        </div>
    </a>
}
</div>